########################################
#################Maven#################
########################################
pom.xml
target/
########################################
#################Eclipse#################
########################################
.classpath
.project
.settings/